.leftHook{
    background-image: url('../images/apple-computer-decor-design-326502.jpg');
    background-size: cover;
    position: relative;
}

.leftHookCover{
    background-color: rgba(190, 30, 45, 0.8);
    z-index: 1;

}

.leftHeading{
    z-index: 5;
}

.bb0{
    background-color: #be1e2d;
}

label{
    color: #be1e2d !important;
}

input{
    color: #be1e2d !important;
}