.sid{
    width: 7%;
    background-color: rgba(190, 30, 45, 1);
}

.navBar{
    height: 7%;
    
}

#menu {
    visibility: hidden;
    opacity: 0;
    position: fixed;
    background: #fff;
    color: #555;
    font-family: sans-serif;
    font-size: 11px;
    -webkit-transition: opacity .5s ease-in-out;
    -moz-transition: opacity .5s ease-in-out;
    -ms-transition: opacity .5s ease-in-out;
    -o-transition: opacity .5s ease-in-out;
    transition: opacity .5s ease-in-out;
    -webkit-box-shadow: 2px 2px 2px 0px rgba(143, 144, 145, 1);
    -moz-box-shadow: 2px 2px 2px 0px rgba(143, 144, 145, 1);
    box-shadow: 2px 2px 2px 0px rgba(143, 144, 145, 1);
    border-radius: 5px;
    padding: 0px;
    border: 1px solid #C6C6C6;
  }
  
  #menu p {
    display: block;
    color: #555;
    text-decoration: none;
    padding: 6px 8px 6px 30px;
    width: 250px;
    position: relative;
    cursor: pointer;
  }
  
  #menu p img,
  #menu a i.fa {
    height: 20px;
    font-size: 17px;
    width: 20px;
    position: absolute;
    left: 5px;
    top: 2px;
  }
  
  #menu a span {
    color: #BCB1B3;
    float: right;
  }
  
  #menu p:hover {
    color: #fff;
    background: #3879D9;
  }
  
  #menu hr {
    border: 1px solid #EBEBEB;
    border-bottom: 0;
  }

.roP{
    width: 10%;
    background-color: #be1e2d;
    box-shadow: 0 0 1px rgba(67, 90, 111, 0.3), 0 8px 10px -4px rgba(67, 90, 111, 0.47)
}

.roP span{
    font-size: 1.2rem;
    font-weight: 600;
    /* color: rgb(18, 60, 124); */
    color: white;
}
.addIcon{
    height: 30px !important;
    width: 30px !important;
    margin-right: 20px !important;
}
.cardOverLay{
    background-color: rgba(233, 230, 243, 0.7);
}

.siteCard{
    height: 14rem;
    width: 14rem;
    border-radius: 4px;
    display: flex;
    background-image: url('https://picsum.photos/200/300');
    background-size: cover;
    flex-direction: column;
    position: absolute;
    justify-content: center;
  
    align-items: center;
    transition: all .2s ease-in-out;
}


.mainCard{
    height: 14rem;
    width: 14rem;
    border-radius: 4px;
    display: flex;
    position: relative;
}

.siteBack{
   top: 0;
   right: 0;
   left: 0;
   bottom: 0;
    border-radius: 4px;
    display: flex;
    position: absolute;
    transition: all .2s ease-in-out;
}

.siteBack svg{
    width: 20px;
    height: 20px;
    color: #be1e2d;
    cursor: pointer;
}

.mainCard:hover .siteCard{
    transform: translateY(50px);
}

.siteBack:hover{
    /* animation-name: moveBack;
    animation-duration: 1s;
    animation-fill-mode: forwards; */
}

.siteCard:hover{
    /* transform: rotateY(90deg); */
    /* animation-name: moveBack;
    animation-duration: 1s;
    animation-fill-mode: forwards; */
    
}

@keyframes moveBack{
    from{
        transform: translateY(0px);
        z-index: 3;
    }

   
    to{
        transform: translateY(0px);
        z-index: 0;
       
    }
}

.siteCard svg{
        color: #be1e2d;
        height: 20%;
        width: 20%;
}

svg{
    transition: all .4s ease-in;
}
.active{
    position: relative;
}
.sid .active svg{
    transform: scale(1.3);
    position: relative;
    
}

.active svg:after{
    content: '';
    position: absolute;
    width: 100vw;
    height: 1px;
    left: 0;
    display: block;
    clear: both;
    background-color: black;
}

.closeWeb{
    height: 20px;
    width: 20px;
    margin: 10px;
}

/* width */
::-webkit-scrollbar {
    width: 4px !important;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #8a7c7c;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(11, 15, 39) !important;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  
  .full-drop-zone {
	 display: block;
	 position: absolute;
	 left: 20px;
	 top: 20px;
	 right: 20px;
	 bottom: 20px;
	 border: 2px dashed rgba(0, 0, 0, .3);
	 border-radius: 20px;
	 text-align: center;
	 z-index: 20;
	 background: rgba(255, 255, 255, 0.7);
	 color: rgba(0, 0, 0, .3);
	 font-size: 20px;
}
 .full-drop-zone.drop-over {
	 border-color: rgba(0, 0, 0, 0.5);
	 color: rgba(0, 0, 0, 0.5);
}
.fH{
    height: 10rem;
}
 .full-drop-zone .description-wrapper {
	 position: relative;
	 width: 100%;
	 height: 100%;
}
 .full-drop-zone .description {
	 position: absolute;
	 left: 50%;
	 top: 50%;
	 max-width: 100%;
	 max-height: 100%;
	 text-align: center;
	 -ms-transform: translateX(-50%) translateY(-50%);
	 transform: translateX(-50%) translateY(-50%);
}
 